.tower {
  border-radius: 50% 50% 0px 0px;
}

.tower:hover {
  box-shadow: 0 0 25px 5px rgba(218, 218, 218, 0.603);
}

.towerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.towerContainer h3 {
  margin: 10px;
}

.towerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.discsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.discsSection.discCount1 {
  top: 104px;
}
.discsSection.discCount2 {
  top: 87px;
}
.discsSection.discCount3 {
  top: 70px;
}
.discsSection.discCount4 {
  top: 53px;
}

.towerPole {
  width: 10px;
  height: 120px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--cmarc-blue-1);
  display: flex;
  z-index: 1;
  border: 1px solid black;
  border-bottom: 0;
}

.towerDisc {
  width: 90px;
  height: 15px;
  z-index: 2;
  border-radius: 8px;
  border: 1px solid rgb(83, 83, 83);
}

.towerDisc:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 5px 1px white;
  transition: 200ms;
}
.active {
  box-shadow: 0 0 10px 2px white;
}

.disc1 {
  background-color: var(--cmarc-blue-2);
  width: 30px;
}
.disc2 {
  background-color: #c4e941;
  width: 50px;
}
.disc3 {
  background-color: #4337b7;
  width: 70px;
}
.disc4 {
  background-color: #cf567a;
  width: 90px;
}

.towerBase {
  width: 120px;
  height: 12px;
  background-color: var(--cmarc-blue-3);
  border: 1px solid black;
}

@media (max-width: 500px) {
  .towerBase {
    width: 80px;
  }
}
@media (max-width: 380px) {
  .towerBase {
    width: 60px;
  }
  .tower.mainContainer {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .towerBase {
    width: 50px;
  }
}
