<!DOCTYPE HTML>
<html lang="en"> 
<meta charset="utf-8"> 

	<head>
	<title>Bubble Flyer!</title>
	<style type="text/css"> 
		body { 
			background-color:Blue;
			margin:0px; 
			overflow : hidden; 
		}
		</style> 
	</head>   

	<div style="display:none;">
     <img id="coin" src="coin.png" width="30" height="30">
     <img id="maintext" src="bubbletext.png" width="445" height="69">
     <img id="sky" src="SkyImage1.png" width="2000" height="1200">
     <img id="grass" src="GrassImage1.png" width="3000" height="150">
     <img id="bubblemenu" src="bubblemenu.png" width="234" height="209">
     <img id="created" src="created.png" width="481" height="24">
     <img id="health" src="health.png" width="24" height="24">

     <img id="startbutton" src="StartButton.png" width="207" height="38">
     <img id="optionsbutton" src="OptionsButton.png" width="142" height="38">
     <img id="exitbutton" src="ExitButton.png" width="187" height="38">
     <img id="MultiplayerBtn" src="MultiplayerBtn.png" width="463" height="37">

     <img id="bubbleG" src="bubbleGreen.png" width="49" height="50">
     <img id="bubbleY" src="bubbleYellow.png" width="49" height="50">
     <img id="bubbleO" src="bubbleOrange.png" width="49" height="50">
     <img id="bubbleR" src="bubbleRed.png" width="49" height="50">
     <img id="bubbleE" src="bubbleElectric.png" width="49" height="50">

     <img id="onClicked" src="onClicked.png" width="53" height="30">
     <img id="onNotClicked" src="onNotClicked.png" width="53" height="30">
     <img id="offClicked" src="offClicked.png" width="57" height="30">
     <img id="offNotClicked" src="offNotClicked.png" width="57" height="30">
   </div>

	<body onload=main()>
	<script src="Game.js"></script>
	<script src="Bubble.js"></script>
	<script src="Billy.js"></script>
	<script src="Scene.js"></script>
	<script src="Bird.js"></script>
	<script src="Bubble.js"></script>
	<script src="Score.js"></script>
	<script src="SceneManager.js"></script>
	<script src="Health.js"></script>
		
	</body>
</html>
	