.card {
  background-color: #155c4f;
  padding: 20px;
  margin: 20px 20px;
  border: solid 3px white;
  border-radius: 10%;
  height: 180px;

  box-shadow: rgba(16, 16, 36, 0.726) 0px 7px 29px 0px;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.card h1 {
  color: white;
  padding-bottom: 10px;
}

.card img {
  width: 100px;
}
