.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popupContainer {
  display: flex;
  justify-content: center;
  background-color: #c2cecf;
  padding: 0px 0px 40px;
  margin: 0px 12px;
  height: 280px;
  width: 200px;
  box-shadow: rgba(16, 16, 36, 0.326) 0px 0px 10px 0px;
  border: solid 1px grey;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  z-index: 1;
}

.popupContent {
  margin: 35px 10px 30px 10px;
  width: 95%;
  height: 86vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.popupContainer.large {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 20px;
  height: fit-content;
  width: 800px;
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  border-radius: 8px;
}

.popupContainer.medium {
  z-index: 2;
  position: absolute;
  top: 20px;
  height: fit-content;
  width: 600px;
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  border-radius: 8px;
}
.popupContainer.small {
  z-index: 2;
  position: absolute;
  top: 20px;
  transform: scale(1.15);
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  height: fit-content;
  min-height: 300px;
  border-radius: 8px;
}

.cardHeader {
  width: 95%;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px lightslategrey;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

.cardHeader button {
  background: none;
  border: none;
}

.cardHeader h2 {
  display: inline-flex;
}

@media (max-width: 850px) {
  .popupContainer.large {
    position: absolute;
    width: 650px;
    max-width: 95%;
  }
}

@media (max-width: 524px) {
  .popupContainer {
    background-color: #c2cecf;
    padding: 0px 0px 20px;
    margin: 10px 6px;
    height: 200px;
    width: 130px;
    box-shadow: rgba(16, 16, 36, 0.326) 0px 0px 10px 0px;
    border: solid 1px grey;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
  }

  .popupContainer.large {
    position: absolute;
    width: fit-content;
  }
  .popupContainer.medium,
  .popupContainer.small {
    position: absolute;
    width: 380px;
  }

  .challengeDescription {
    font-size: 11px;
  }
}

@media (max-width: 394px) {
  .cardHeader {
    margin-left: 10px;
    margin-right: 10px;
  }

  .popupContainer.medium,
  .popupContainer.small {
    width: 290px;
  }
}
