.card {
  background-color: #c2cecf;
  padding: 0px 0px 40px;
  margin: 20px 12px;
  height: 280px;
  width: 200px;
  box-shadow: rgba(16, 16, 36, 0.326) 0px 0px 10px 0px;
  border: solid 1px grey;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  z-index: 1;
}

.card:not(.open):hover {
  transform: scale(1.15);
  transition-duration: 200ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  cursor: pointer;
}

.card.large.open {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 20px;
  height: fit-content;
  width: 800px;
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  cursor: pointer;
  border-radius: 8px;
}
.card.medium.open {
  z-index: 2;
  position: absolute;
  top: 20px;
  height: fit-content;
  width: 600px;
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  cursor: pointer;
  border-radius: 8px;
}
.card.small.open {
  z-index: 2;
  position: absolute;
  top: 20px;
  transform: scale(1.15);
  transition-duration: 300ms;
  box-shadow: #155c4f 0px 0px 10px 0px;
  cursor: pointer;
  height: fit-content;
  min-height: 300px;
  border-radius: 8px;
}

.card.open h2 {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
}

.card h2 {
  color: black;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: solid 1px lightslategrey;
}

.card img {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-shadow: inset rgba(16, 16, 36, 0.726) 0px 7px 29px 0px;
}

.innerCardContainer {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expand {
  font-weight: 600;
  color: #2c55a1;
}

@media (max-width: 524px) {
  .card {
    background-color: #c2cecf;
    padding: 0px 0px 20px;
    margin: 10px 6px;
    height: 200px;
    width: 130px;
    box-shadow: rgba(16, 16, 36, 0.326) 0px 0px 10px 0px;
    border: solid 1px grey;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
  }

  .card.large.open {
    position: absolute;
    width: fit-content;
  }
  .card.medium.open,
  .card.small.open {
    position: absolute;
    width: 380px;
  }
}

@media (max-width: 394px) {
  .card.medium.open,
  .card.small.open {
    width: 290px;
  }
}
