.cardSection {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
  line-height: 20px;
  padding: 30px 0px;
}

.cardsContainer {
  max-width: 1210px;
  margin: 0 auto;
  padding-top: 30px;
}

.cardRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
