.pokedex {
  max-width: 400px;
  margin-top: 20px;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 20px;
  border: solid 5px #414141;
  box-shadow: 10px 10px 10px 10px #858585;
}

.pokedex img {
  box-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
}

.pokedexImageSection {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.currentPokeInfo {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--cmarc-blue-1);
  border: solid 3px var(--cmarc-blue-3);
  border-radius: 20px 20px 00px 0px;
  border-bottom: none;
}

.arrowRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 80%;
  height: auto;
  background-color: #adadad;
  border: solid 3px var(--cmarc-blue-3);
  border-radius: 0px 0px 20px 20px;
}

.currentPokeInfo h2 {
  color: white;
}

.pokedexImageSection img:nth-child(2) {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 48px;
}

.pokedexHeadine {
  background-color: aliceblue;
  padding: 5px 20px;
  margin: 15px 0px;
  border-radius: 20px;
}

.infoContainer h2 {
  font-size: 18px !important;
}

.searchBarSection {
  display: flex;
  flex-direction: column;
  width: 254px;
  align-items: stretch;
}

@media (max-width: 524px) {
  .pokedexImageSection img:nth-child(2) {
    width: 155px;
    height: 155px;
    margin-top: 38px;
  }

  .infoContainer h2 {
    font-size: 14px !important;
    margin-bottom: 0px;
  }

  .pokedexHeadine {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .pokedex {
    max-width: 100%;
  }
  .pokedexImageSection img:nth-child(2) {
    width: 112px;
    height: 112px;
    margin-top: 27px;
  }
}

.arrowRow img {
  width: 25%;
  height: 25%;
}

.arrowRow img.arrow {
  width: 15%;
}
