.pokedex {
  max-width: 400px;
  margin-top: 20px;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 20px;
  border: solid 5px #414141;
  box-shadow: 10px 10px 10px 10px #858585;
}

.pokedex img {
  box-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
}

.currentPokeInfo {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--cmarc-blue-1);
  border: solid 3px var(--cmarc-blue-3);
  border-radius: 20px 20px 00px 0px;
  border-bottom: none;
}

.arrowRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 90%;
  height: auto;
  background-color: #adadad;
  border: solid 3px var(--cmarc-blue-3);
  border-radius: 0px 0px 20px 20px;
}

.currentPokeInfo h2 {
  color: white;
}

.pokedexImageSection {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pokedexBackgroundImage {
  width: 100%;
}

.pokedexPokemonImage {
  width: 195px;
  height: 195px;
  position: absolute;
  margin-top: 48px;
}

.loadingContainer {
  position: absolute;
  padding-top: 6em;
  padding-left: 1em;
}

.pokedexHeadine {
  background-color: aliceblue;
  padding: 5px 20px;
  margin: 15px 0px;
  border-radius: 20px;
}

.infoContainer h2 {
  font-size: 18px !important;
}

.searchBarSection {
  display: flex;
  flex-direction: column;
  width: 254px;
  align-items: stretch;
}

.arrowRow img {
  width: 25%;
}

.arrowRow img.arrow {
  width: 15%;
  border: solid 3px white;
}

.arrowRow img:hover,
.searchBarSection:hover {
  box-shadow: 0 0 6px 1px var(--cmarc-blue-2);
}

@media (max-width: 524px) {
  .pokedex {
    box-shadow: none;
  }

  .pokedexPokemonImage {
    width: 145px;
    height: 145px;
    margin-top: 38px;
  }

  .loadingContainer {
    position: absolute;
    padding-top: 5em;
  }

  .infoContainer h2 {
    font-size: 14px !important;
    margin-bottom: 0px;
  }

  .pokedexHeadine {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .pokedex {
    max-width: 80%;
  }
  .pokedexPokemonImage {
    width: 105px;
    height: 108px;
    margin-top: 27px;
  }

  .loadingContainer {
    padding-left: 0.5em;
    padding-top: 3.5em;
  }

  .arrowRow img.arrow {
    width: 13%;
    border: solid 1px white;
  }

  .searchBarSection {
    align-items: center;
  }
}
