:root {
  --cmarc-blue-1: #155c4f;
  --cmarc-blue-2: #7dd6c6;
  --cmarc-blue-3: #0b332c;
  --softorange: #f4a259;
  --tomatored: #df6169;
  --mediumblu: #1e272d;
}

* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: monospace; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media (max-width: 524px) {
  h1 {
    font-size: 20px;
  }
}

.bioSection {
  background: url("images/bck-1.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
